[2017-07-12 15:36] zachgibson opened #1 "Add support for background videos"
Like Twitter Moments.

[2017-09-09 22:58] zachgibson opened #3 "Add preview GIFs"
![twitter-moments](https://user-images.githubusercontent.com/10658888/30244667-636cfc0e-9588-11e7-9805-3a0c5649ab4b.gif)
![vevo](https://user-images.githubusercontent.com/10658888/30244668-66164c3a-9588-11e7-9cfa-c0c5dc29090c.gif)
![lightbox](https://user-images.githubusercontent.com/10658888/30244669-68924b4e-9588-11e7-9426-b081953115fc.gif)

[2017-09-09 22:58] #3 closed

[2017-10-11 05:17] brianhiss commented on #1
Hey @zachgibson, any progress on this? Saw your [tweet](https://twitter.com/zacharykeith_/status/907632467296874498), it looks like you've integrated video.

Love the progress indicator on the bottom as well, subtle, but very clean.

Will you be contributing back those changes? I submitted a pull request to update the library for use with react-native 0.48.0+.

[2017-10-11 14:33] zachgibson commented on #1
Those are actually GIFs, which already work. However I did use videos for the Vevo example in the README and realized it might be a bit of a pain to try and add video support in the current version. I’m working on a new API that allows passing of whole components for background/foreground content which I think will be better because it gives much more flexibility for user-controlled components. e.

[2017-10-11 15:26] brianhiss commented on #1
Not sure if you already used it, or would want to add a dependency for video, but I've had good luck using [react-native-video](https://github.com/react-native-community/react-native-video).

The progress indicator does look pretty smooth from your GIF!

[2017-10-11 15:52] zachgibson commented on #1
Yeah I’ve used react-native-video. I’m not sure I want to manage handling that component through react-native-parallax-swiper tho. I feel it would be better to let the user manage this.

With the new API I’m experimenting with, implementing Video could look like this:
[code]

So video logic is handled by the user.

[2017-10-11 17:33] brianhiss commented on #1
That API seems like the best way forward. Would be good to use components like react-native-video and Lottie as well for animations.

Let me know if you want me to test anything, or run ideas by.

[2017-10-11 18:29] zachgibson commented on #1
For sure. This new API along with `onMomentumScrollEnd` which contains active index and `animatedScrollValue` you can achieve some really cool effects. I have a lot of ideas for this. (Just learned you can play Lottie animations based on scroll 😬).

And thanks man! There hasn’t been much collaboration on this so it’s nice to have someone else who is interested and willing to collaborate.

[2017-11-14 00:37] dallen4 opened #5 "activePageIndex incorrect on Google Nexus 5X"
When testing the ParallaxSwiper on the Google Nexus 5X Android device, I found that I can't get the correct activePageIndex using the onMomentumScrollEnd prop. When using it as the example shows:

`onMomentumScrollEnd={activePageIndex => console.log(activePageIndex)}`

It prints the incorrect indexes. For example, on a four page swiper, it returns 0, 0, 1, 3, respectively for the pages. This has b

[2017-11-14 01:46] zachgibson commented on #5
Hey @dallen4! Thanks for reporting this. Are you using horizontal or vertical paging?

[2017-11-14 03:00] dallen4 commented on #5
@zachgibson horizontal!

[2017-11-15 02:47] zachgibson commented on #5
Hmm, let me run the component on that device and see if I can reproduce the bug.

[2017-11-15 08:56] dallen4 commented on #5
@zachgibson let me know if you have any luck

[2017-11-15 19:49] zachgibson commented on #5
@dallen4 Just tested on Google Pixel 7.1.0 API 25 and indices are logging as expected. I’m testing using the example in this repo’s readme. Can you post your code?

[2017-11-17 02:05] Jmeza081 commented on #5
@zachgibson Thank you for the quick response to the issue. As @dallen4 pointed out, the issue seems to be device-specific. I also tested the example posted on the ReadMe on an android device with the following specs:

- Nexus 5X
- API 23

I believe @dallen4 meant say that it worked just fine on other android devices, such as the Google Pixel device you tested, but fails on the aforementioned devic

[2017-11-17 16:14] zachgibson commented on #5
@Jmeza081 thanks for posting that snippet! Your `dividerWidth={0}` led me to the bug. I was incorrectly rounding the value and this happened to work unless you set dividerWidth to 0.

I’m patching this and I’ll publish to npm shortly.

[2017-11-17 16:25] zachgibson commented on #5
Fixed in 0.5.4 👍

[2017-11-17 16:25] #5 closed

[2017-11-23 00:00] zachgibson commented on #1
@brianhiss Yo! I finally finished working through some [new API](https://github.com/zachgibson/react-native-parallax-swiper/tree/feature/allow-background-and-foreground-component-injection) ideas. I’d love to hear any feedback or thoughts you might have.

[2017-11-24 05:42] brianhiss commented on #1
@zachgibson I'll take a look and get back to you. Happy Thanksgiving!

[2017-11-29 06:18] brianhiss commented on #1
@zachgibson I'm low on time right now, but I took a look and it's looking good. Are you going to create some demos of the gif's you have up there? I see you have that in your README, but didn't know if that was still on your agenda.

[2017-11-29 17:11] zachgibson commented on #1
@brianhiss Yeah forsure, I’ll create some demos. I wanted to get your input API wise before I published. I feel pretty good about it. I think it sets a necessary constraint with `ParallaxSwiperPage` and makes rendering UI more flexible by allowing arbitrary component rendering versus very specific props to handle specific situations. e.g. `backgroundImage`

Now you can easily add something like re

[2017-12-04 21:39] bobmulder opened #6 "Question: Fast Snapping Animation on Android"
Hi there,

Thanks for the lib! Unfortunately not that much stars, but I just tried your lib. I kind a copy/pasted your example into my app and experienced a sort of 'animation-skip' when swiping too fast.

I know this is not much info, but I'm not able to drop my code at this moment. Beside that I used your example (and added some more children).

It would be nice if we can fix this :)

Greetz,

B

[2017-12-05 00:46] zachgibson commented on #6
Hey Bob! Are you using an Android to test this?

[2017-12-05 12:06] bobmulder commented on #6
Hi @zachgibson, thats true, sorry for the missing detail! Are you able to 'reproduce' it?

[2017-12-05 15:15] zachgibson commented on #6
@bobmulder I have a hunch, try this:

set `parallaxStrength={40}`
set all `backgroundImage={'https://source.unsplash.com/user/erondu/300x600'}`

[2017-12-05 15:26] bobmulder commented on #6
Did it. Did you? Try to swipe very 'lightly' or fast. The border spacing will show quickely, but the swipe-animation wont be visible. Its too fast...

[2017-12-05 16:22] zachgibson commented on #6
Yeah I know what you’re referring to. Interestingly I might’ve just found a good solution. [ViewPagerAndroid](https://facebook.github.io/react-native/docs/viewpagerandroid.html) is a native Android UI that has much smoother and slower scroll animation. I’ll look into implementing this because I think it might greatly improve how this feels on Android.

Thanks for creating this issue, not sure if I

[2017-12-05 16:29] zachgibson commented on #1
@brianhiss Hey man so I finally got everything to a point to merge! I have two of the three GIF examples now. Still need to add some more and cleanup the existing example code, but for now you can totally dig through them and see how to use something like `react-native-video`. 👍

[2017-12-05 16:30] brianhiss commented on #1
@zachgibson I'll take a look. Just got back from a vacation, saw all your emails. I'll try and dig in soon! Great stuff..

[2017-12-05 16:31] zachgibson commented on #1
This enhancement is added in [v1.0.0](https://github.com/zachgibson/react-native-parallax-swiper/tree/v1.0.0) 🎉

[2017-12-05 16:31] #1 closed

[2017-12-05 18:55] bobmulder commented on #6
Great, thanks for your feedback! So do you have any idea how this works on iOS? When do you think you have something working? Good luck and thank you very much!

[2017-12-05 19:12] zachgibson commented on #6
IMO it works great on iOS. I’m primarily an iOS user so I’m more familiar with the platform. I’ll take a look and should have something by this week.

[2017-12-05 20:08] bobmulder commented on #6
Great! I am working on an app for Android and iOS, so I'll be able to let you know how it feels on both platforms with shared code! Good luck!

[2017-12-06 16:12] zachgibson commented on #6
Turns out this is harder than I had anticipated. `ViewPagerAndroid` has an `onPageScroll` method with a callback containing `offset`. But offset goes from 0 to 1 for each page, not an accumulating value like ScrollView’s `contentOffset`. I have parallax working for the active page but the previous or next page aren’t translating like they should. I’ll keep experimenting to see if I can get this wo

[2017-12-06 20:41] bobmulder commented on #6
Hi @zachgibson,

Thank you for your response. Is there anything I can do? Can you share your code at a sub-branch?

Are you at Gitter for a chat?

Good luck, and above all have fun ;)

[2017-12-07 19:51] zachgibson commented on #6
@bobmulder Sure let’s both see if we can come up with a solution. I’ll make a branch with my code. [Here’s the Gitter channel](https://gitter.im/react-native-parallax-swiper/Lobby). And yes I’m still having fun! Learning a lot too.

[2017-12-08 11:13] bobmulder commented on #6
What if we would remove the parallax thing first, would the main issue be fixed then? Just to focus on what's the issue now ;)

[2017-12-08 15:02] zachgibson commented on #6
Looked into this some more and currently I don’t have a solution for leveraging `ViewPagerAndroid`. The way `react-native-parallax-swiper` works is you animate the previous, current, and next page based on a scroll offset that accumulates. `ViewPagerAndroid` however doesn’t have an accumulating offset value, it gets reset to 0 on each page.

Also to clarify something, the 'Animation skipping' you

[2017-12-08 23:57] bobmulder opened #9 "`scrollToIndex` seems not to work"
Again a poorly commented and motivated issue, but I'm trying to do my best within my expensive, little hours ;)

So, I migrated to your new version (1.x), and had to get feeling with the new changes of the naming changes of the props, and the `Pager`.

However the option `scrollToIndex` seems not to work. I tried different things:

### Implementation 1

Using `scrollToIndex` as a prop:
[code]

###

[2017-12-09 16:05] zachgibson commented on #9
@bobmulder Hey sorry for the confusion, scrollToIndex *is* a number and should be `state`. Not sure if having it as state is good or bad but for now it works.

[2017-12-10 00:34] bobmulder commented on #9
Can you please drop me a code example?

[2017-12-10 16:31] zachgibson commented on #9
Setup your initial state:
[code]

Then pass that state to `scrollToIndex` prop:
[code]

Now just set `this.state.indexToScrollTo` to the index you want to scroll to.

[2017-12-10 22:45] bobmulder commented on #9
Thank you for the example! I've implemented it, but unfortunately no success... At this moment I get the following view:

![image](https://user-images.githubusercontent.com/5465074/33810348-dee87250-de03-11e7-8b72-68db67eb45bd.png)

The part of the image you see is part of the first one (index 0) while I wanted to scroll to index 1...

My code still looks like:

[code]

Thanks again or your help a

[2017-12-10 22:57] bobmulder opened #11 "[Feature] Any progress on the drag effects?"
At your todo-list I see 'Add drag effects e.g. zoom, blur, darken'.
The zoom functionality seems to be useful for my app :)

So, whats your 'state' on this feature? I can imagine you don't have any code yet, but do you have any idea for the implementation?

I guess the drag effects should be done on the background-side of the `page` right?

Maybe I can help ;)

[2017-12-11 01:11] zachgibson commented on #9
Hmm, not sure why you’re having this issue without seeing the rest of the code. Can you paste your entire file and what device/version your testing on?

[2017-12-11 01:27] zachgibson commented on #11
I’ve experimented with zoom and darken, but I hadn’t really landed on the API.

Here’s a possible API for this:
[code]

What do you think? :)

[2017-12-11 02:24] zachgibson opened #12 "Explore using ViewPagerAndroid instead of ScrollView/FlatList"
Not sure if this is viable, but the scrolling animation is *way* better on Android using [ViewPagerAndroid](https://facebook.github.io/react-native/docs/viewpagerandroid.html) versus ScrollView. Current issues are:

1. ViewPagerAndroid exposes scroll offset but gets reset to 0 on every page
2. ViewPagerAndroid probably isn’t optimized for long lists like [FlatList](https://facebook.github.io/react

[2017-12-11 02:26] zachgibson commented on #6
Closing this in favor of issue #12.

[2017-12-11 08:02] bobmulder commented on #11
Good to hear!

The API is okay, but not very clear to me on first sight. Maybe we can look at [Animatable](https://github.com/oblador/react-native-animatable), check out the properties of the `Animatable` object...

[2017-12-11 08:10] bobmulder commented on #6
Your response is clear, I understand this isn't a bug but a fast scroll. I'll dive into the `Animated` lib from React Native to discover if we can limit the animation speed...

[2017-12-11 08:30] bobmulder commented on #9
Versions:
react-native-cli: 2.0.1
react-native: 0.49.3
testing on: Android 6

Code (removed some useless code):
[code]

[2017-12-11 14:42] zachgibson commented on #9
@bobmulder I think your index issue will be resolved with #10, but for now this should do the trick:

[code]

[2017-12-11 14:57] zachgibson commented on #11
Yeah I agree it is confusing. Animatable looks really cool, but not sure some of those prop names translate to how these scrolling animations work. Since I expose an `Animated.Value` and you can do any animation your heart desires, I think I just want to add this as a basic add-on with no configuration for now. It will be animations that I come up with or re-create from other apps and have as an o

[2017-12-11 15:08] bobmulder commented on #11
What about:

[code]

Or:
[code]
(referring to your configuration before)

[2017-12-11 21:32] bobmulder commented on #9
Unfortunately the issue isn't solved updating and using #10. Still getting the same screen as I posted above (when the index is not `0`).

I will restructure my code first, and try to post a clean example...

[2017-12-12 08:38] bobmulder commented on #9
No progress so far. I discovered that changing the `speed` attribute changes the black box as I showed above... Any idea how this is possible?

[2017-12-12 12:00] bobmulder opened #14 "Can't run example/demo"
I'm trying to run the example, but get the following error: `Failed to load bundle [...] Unable to resolve module 'react' from '[path]' [...]: Module does not exist in the module map.`

I did everthing the docs told me to do:
[code]

[2017-12-12 13:26] zachgibson commented on #9
What Android device are you using? Also post all of your code, as I will copy, paste, and run it to try and debug this.

[2017-12-13 10:56] bobmulder commented on #14
Fixed by installing the library through NPM instead of a local file. This should be fixed soon by @zachgibson.

[2017-12-13 10:56] #14 closed

[2017-12-13 14:59] zachgibson commented on #11
I haven’t thought of any other effects besides zoom, blur, and darken. So maybe something like this would work just fine:

[code]

You can have any combination of these or none at all.

[2017-12-13 16:26] bobmulder commented on #11
But these effects should be 'triggered' by certain drag-events right? What kind of? And how are they defined?

[2017-12-13 16:55] zachgibson commented on #14
Fixed with [v1.1.3](https://github.com/zachgibson/react-native-parallax-swiper/releases/tag/v1.1.3)! Thanks @bobmulder for helping me track this down.

[2017-12-13 16:58] zachgibson commented on #11
They are triggered `onScroll` like the parallax (translateX and translateY). What do you mean when you ask how they are defined? Like defining how much zoom aka `scale()` you want?

[2017-12-18 00:52] asciifaceman opened #16 "Way to prevent "Going back""
Is there a conceivable way to prevent the user from swiping back to previous pages? I was thinking that popping the data or unloading data might work, but don't want to go down a crazy data manipulation hole unless there is something else.

[2017-12-18 01:33] asciifaceman commented on #16
This works to get the idea across in a very hacky and ugly way, but if it was possible to make it invisible to the user...

It seems the problem is since I'm popping from the array that it "scrolls back" to the new `0`.

[code]

[code]

Edit:

This is possible to achieve in reverse since pop'ing from the end and scrolling backwards (by setting   `scrollToIndex` to `data.length -1` on load), but di

[2017-12-18 15:37] zachgibson commented on #16
Hey @asciifaceman! Interesting concept you propose here. I tried this a couple of different ways and man, it does not like updating the data. I did get some cool glitch effects tho. 😆

I’m gonna try this with a plain ol’ `ScrollView` without any fancy parallax and see if it still behaves this way. Otherwise there might be some other approaches to manipulate scroll ability to achieve what you’re lo

[2017-12-18 19:05] asciifaceman commented on #16
Yeah, @zachgibson I played around with it for a solid 3-4 hours.

Fundamentally the map renders in order from 0 to `length-1`. And those are added as children.
If you start from the end and move back, popping works fine, but popping the other direction triggers a rerender of the children since indexing changed. I did find this, however:

https://github.com/ridgeO/react-native-card-stack/tree/maste

[2017-12-18 19:13] asciifaceman commented on #11
@zachgibson are you using panHandlers for this?

[2017-12-18 19:53] zachgibson commented on #11
@asciifaceman Nope, just Animated ScrollView. I interpolate the Animated scroll value.

[2017-12-18 20:57] asciifaceman commented on #11
iiiinteresting

[2017-12-18 21:10] zachgibson commented on #11
I do like the idea of implementing stuff like `react-native-parallax-swiper` with a gesture handler because you get so much flexibility, but on the other hand they don’t feel native. *But* with a lot of tweaking you could probably get it to feel native. i.e. getting all the timing, easing, thresholds, bouncing right.

I wonder if UIScrollView and ViewPager have there configuration values documente

[2017-12-19 18:28] asciifaceman commented on #11
Yes, I was just curious how you were able to get the movement information which is something that still feels really immature in native any time I've tried to touch it. I had dug around the source and didn't see any panHandlers and wasn't sure if I wasn't looking in the right place! I agree that they are stiff as well.

[2017-12-19 19:15] zachgibson commented on #11
[This first paragraph explains it](https://facebook.github.io/react-native/docs/animations.html#tracking-gestures). Using this with `useNativeDriver={true}` so it’s all natively driven. Can’t do this yet with `PanResponder` but [react-native-gesture-handler](https://github.com/kmagiera/react-native-gesture-handler) is looks promising.

[2017-12-19 19:22] asciifaceman commented on #11
Yeah I've found the PanResponder to be really, really lacking. Gesture handler requires linking which for me is a huge turnoff, but increasingly hard to get around :(

[2017-12-19 19:27] zachgibson commented on #11
Why is linking a turn off for you?

[2017-12-19 19:33] asciifaceman commented on #11
For my specific use case it is because I develop on the expo api rather heavily to take advantage of a few things for rapid prototyping etc etc.

Linking means ejecting or using expokit and losing their automatic building, it's my own failing in skill to take it on myself (which I should get over) lol.

[2017-12-19 19:41] zachgibson commented on #11
Haha nah man Expo is great! You can actually use react-native-gesture-handler in Expo.

[2017-12-19 19:44] asciifaceman commented on #11
Yeah I know thats one of the ones they added to their API iirc

[2017-12-20 11:08] bobmulder commented on #11
Just to be sure, what do we mean with the drag effects? About the `zoom` functionality I thought it would be possible to zoom into your picture (like you do at a photo-app) after you scrolled into it. I understand you guys mean an 'auto-scroll' feature based on the Animated value when you swipe into a screen?

[2017-12-20 16:04] zachgibson commented on #11
@bobmulder No I was referring to adding scroll-based animations on your pages in addition to parallax. e.g. as you scroll, the background component—an image let’s say—starts to increase it’s scale (zoom).

[2017-12-20 16:33] bobmulder commented on #11
I was afraid of that ;) but it's good to have this clear :)

[2017-12-21 14:41] zachgibson commented on #11
`ScrollView` on iOS works out of the box for image zooming, Android does not. But there seems to be multiple options to handle this. Like [react-native-photo-view](https://github.com/alwx/react-native-photo-view).

[2017-12-21 16:30] zachgibson commented on #16
I’ve thought about this a bit and I think `react-native-parallax-swiper` and what you’re looking for are two different things. This component is meant to be a vertical or horizontal paged list where you can scroll/swipe back and forth and see the previous, current, and next “Page”—not really a 3D space of cards. I tried converting to a `FlatList` for the sake of seeing if I could accomplish this b

[2017-12-21 20:24] zachgibson commented on #9
Fixed in [v1.1.4](https://github.com/zachgibson/react-native-parallax-swiper/releases/tag/v1.1.4).

[2017-12-21 20:24] #9 closed

[2017-12-28 21:25] asciifaceman commented on #16
Yeah I just really wanted the "look" of your swiper (which looks amazing) just with it gobbling already scrolled results behind it. The idea was an "always fresh" content in the scroll being paginated with continuation tokens etc etc I had that part already figured out haha.

[2018-01-13 19:41] pherm opened #17 "ISSUE WITH MODAL"
I'm working with modals and parallax swiper but it not work.  I added a different modal to each screen of Parallax Swiper Page (3 screens, for now) and it always returns the first modal of the first screen of Parallax swiper. I would like to print a different modal for each screen. Any suggestions?

[2018-01-13 23:25] zachgibson commented on #17
Can you create an Expo snack or post your code? Not sure what the issue is without seeing your code.

[2018-01-14 14:36] #17 closed

[2018-01-14 14:37] Pfurr commented on #17
I am attaching a file with code
 @zachgibson

[2018-01-16 23:54] zachgibson commented on #17
@pherm Did you mean to close this? Sorry for the delay. If you’re still having this issue let me know and I’ll run your demo and see what’s going on.

[2018-01-17 11:04] Pfurr commented on #17
@zachgibson I still have the issue, can you verify?

[2018-01-19 17:05] Pfurr commented on #17
@zachgibson why do you close this issue without a solution?? Man, you're not serious

[2018-01-19 18:39] zachgibson commented on #17
@pherm I didn’t close it. Look above, it says you did. Also you sent me a text file without a package.json or other component files (RoundedButton) so I can’t even run your demo.

[2018-01-19 19:50] Pfurr commented on #17
@zachgibson man,  I wrote three days ago: '' I still have the issue, can you verify?''. But never mind. I will solve the problem differently.

[2018-01-19 20:34] zachgibson commented on #17
Dude your facts are off. You said that 2 days ago. You barely put any effort into helping me reproduce your issue. I want to help, but keep in mind this is open source and I do it for free. I have a full-time job and other responsibilities. Weekends for me is when I get time to look at stuff like this.

[2018-01-20 01:33] Pfurr commented on #17
No man, you're not understand.

1. **I've reported a potential bug because I've met it.**
2. in my case they are 3 business days. I live in EU.
3. you are not obliged to help anyone. But if you don't have time or other stuff tell me it immediately (developers work with oss).
4. I don't have time like you to wait. I'm working. For me it's much more convenient to find other solutions (with a other n

[2018-01-20 01:54] zachgibson commented on #17
I’m off work for the weekend and I have time to look into this for you if you want. Just give me a repo or Expo snack so I can easily reproduce your issue and see what’s going on.

[2018-02-02 18:21] ds8k opened #18 "Any way to change how soon `onMomentumScrollEnd` fires?"
Is there a different event to listen for, or is it possible to change it so `onMomentumScrollEnd` fires sooner? Right now it fires seemingly after the page is done swiping. I'm implementing a dots page indicator and currently it works, but the dots updated way after the page has been swiped. It's not a great user experience and was hoping I'm missing something obvious.

[2018-02-02 19:07] zachgibson commented on #18
Hey @ds8k, `onMomentumScrollEnd` fires after scrolling completely stops. I’ve run into this situation before, but you can fix it by leveraging `animatedValue` to supply your own Animated.Value, then use that along with indices to change opacity or whatever on your indicator dots.

e.g.
[code]

[2018-02-02 19:09] zachgibson commented on #16
Hey @asciifaceman I’m still not seeing a way to do this as I think what you’re referring to happens in the z space i.e. 3D not 2D. Can you provide a visual or something to help clarify? Otherwise I’m going to close out this issue.

[2018-02-02 20:40] ds8k commented on #18
Oh wow, thanks for the fast response! I got it working perfectly using your example. Only had to make one tweak to have the active dot reflect the active page:

[code]

Thanks again!

[2018-02-02 20:40] #18 closed

[2018-02-02 20:43] zachgibson commented on #18
For sure! Glad to help out.

[2018-02-03 23:00] asciifaceman commented on #16
Yeah I agree it isn't within the scope of your swiper and would likely have to be its own project. I think it's just a limitation of the basic components.

The best way to describe it would be every time you swiped say vertically in your swiper you could never swipe back and the old content would be recycled for memory savings.

But this isn't cleanly possible with the scroll view. So it's all goo

[2018-02-03 23:00] #16 closed

[2018-02-03 23:22] zachgibson commented on #16
Well if you want to make this a thing, hit me up for help with the parallax/animation part and I gotchu. 👍

[2018-02-07 05:18] asciifaceman commented on #16
@zachgibson https://cdn-images-1.medium.com/max/800/0*6axAOzGiu53dLA9k.gif

What are your thoughts on this and its feasibility in RN? I know I"m asking in an old issue, but 🤷‍♂️

[2018-02-08 20:49] zachgibson commented on #16
@asciifaceman Totally feasible in React Native. Not with this component, but using Animated.ScrollView and the Animated API to get these transitions wouldn’t be too hard.

[2018-02-08 20:56] asciifaceman commented on #16
Yeah I was thinking in line with a new component @zachgibson if you want involved

[2018-02-09 21:36] zachgibson commented on #16
Which part of the GIF are you thinking will be the functionality?

[2018-02-09 21:40] asciifaceman commented on #16
The swiping and animation portions, not the content itself so much. Like the categories and switching between the funnel, list views

[2018-02-14 15:24] MichelDiz opened #19 "Proposal of channel discussion"
Hi, I took the liberty of creating a public chat in the discord facing React-Native. With the intention of uniting the React-native community and improving communication.

I'm creating a channel for public discussions about your project. To avoid flooding "chat" on your github. If you can support the initiative, great! Just share the link below xD

I'm adding RN only projects to this public chat s

[2018-02-19 22:56] jruddell opened #20 "Question: Vertical snapping for Android"
When rendering a parallax swiper with vertical set to true ( `<ParallaxSwiper vertical`) swiping up or down is just a regular scroll instead of snapping to the active page index.

Steps to reproduce:
Render the following sample. scroll half way between pages on android.
[code]

styles..
[code]

[2018-02-20 01:22] zachgibson commented on #20
@jruddell ScrollView component doesn’t support vertical paging on Android unfortunately.

[2018-02-20 01:24] zachgibson commented on #19
Sweet, I’ll try it out. 👍

[2018-02-20 01:24] #19 closed

[2018-02-20 05:29] jruddell commented on #20
@zachgibson can we add support for this? I kinda did a work around where I pass a scroll to property to the swiper after the on momentum callback... It's delayed but kinda works... Since we know what page for that call back couldn't we just snap to that page when it's vertical and you pass a new prop (say verticalSnap)?

[2018-02-20 14:24] zachgibson commented on #20
Let me take a look at this and see what I can come up with. If I can make a solution that doesn’t feel janky we can add this to the lib, otherwise I’d say just fork this and do what you need to until a better solution arises.

[2018-02-20 17:49] jruddell commented on #20
@zachgibson sounds good, did you follow what i was trying to explain? i can try and help clarify or hop on a call with you or something if you'd like

[2018-02-20 19:23] zachgibson commented on #20
@jruddell Yeah I believe so. We actually have an async function containing the content offset as we scroll. Might be able to use that to see where we are in the scroll position then on finger lift use `scrollTo` to try and emulate the snapping effect.

[2018-02-20 21:07] jruddell commented on #20
@zachgibson Ah yea that would be awesome, sounds like its possible and maybe not that complicated actually.. Could also make this an optional thing, like either let them scroll freely or snap based on a new prop :) I'm fairly busy with work stuff but if i have some free time i could probably lend a hand

[2018-02-21 19:55] zachgibson commented on #20
@jruddell Haven’t tested this idea yet, I have a feeling it won’t be ideal. The snapping should be instantaneous when you lift your finger, whereas this solution will need to measure where you are then call `scrollTo` which will need to pass from JS to Native land.

If this PR got merged, we’d get this functionality natively: https://github.com/facebook/react-native/pull/10999 🤞

[2018-03-10 12:36] CodeLuca commented on #20
ahhh! I need this so badly as well. :(

[2018-03-30 19:45] gabgagnon opened #21 "Rendering ParallaxSwiperPage components in an other class (I'm new in React-Native)"
Hi, it's probably the wrong place to ask that, but I think many users will find it usefull. I would like to call another class for rendering ParallaxSwiperPage components, but I can't find a way to do with clean codes. Do you have any good suggestions?

Classic example:
[code]

For course, with this example, a warning saying "Failed prop type: Invalid component 'PageFrame' supplied to ParallaxSwip

[2018-03-30 20:12] zachgibson commented on #21
Hey @gabgagnon! Go ahead and use `ParallaxSwiperPage`. If you want to componentize further you can do so with `BackgroundComponent` and `ForegroundComponent`. Also you can map over data to have even less code.

e.g.
[code]

[2018-03-30 21:58] #11 closed

[2018-03-30 23:14] gabgagnon opened #22 "ScrollToIndex does not call onMomentumScrollEnd"
By reading the definition of those props, Should ScrollToIndex calls onMomentumScrollEnd when the automatic scroll is over?

Thanks you

[2018-04-03 00:34] #21 closed

[2018-04-03 00:36] zachgibson commented on #22
Yes, `onMomentumScrollEnd` occurs as the ScrollView glides to a stop, and `scrollToIndex` just scrolls the ScrollView for you.

[2018-04-03 12:35] yedeba opened #23 "ParallaxSwiper Props Height"
Hi, is possible height control of ParallaxSwiper?
Thanks

[2018-04-03 19:59] zachgibson commented on #23
Yes you can, just put `ParallaxSwiper` in a container and size it accordingly, it will fill its container. I might end up adding these as props.

e.g.
[code]

[2018-04-13 01:49] abhi06991 commented on #22
Once `onMomentumScrollEnd` is fired, I want to fetch more datas and add it to the list. Is this possible ? If its possible, will the entire component re-render? How will be the performance?

[2018-04-16 14:27] zachgibson commented on #22
@abhi06991 Not sure, this component just abstracts React Native’s ScrollView component. Also using FlatList is on the roadmap which will improve long lists.

[2018-04-16 19:37] mrishan1993 opened #24 "Swiping one parallax swipes another parallax"
I created a flatlist which renders a parallax in each row.
The problem is when I swipe one parallax, another parallax swipes as well.
This is how I am rendering my parallaxes
`render () {
    return (
      <View style={styles.navBar}>
        <ParallaxSwiper
         speed={0.5}
         dividerWidth={0}
         dividerColor="white"
         backgroundColor="white"
         progressBarBackground

[2018-04-18 06:31] xcarpentier opened #25 "Add react-native-parallax-swiper to reactnative.gallery 🎨"
Hi @zachgibson!

Sorry, this is not an issue...

I'm Xavier and I’ve been working as a freelance React Native developer for more than 2 years.
I try to help community when I can: sharing my works on open-source, like you do!

I want to help developers to have more visibility.
So, I've created a website where developers can share with entire
world their React Native projects, components, apps...

T

[2018-04-24 08:11] F-Tillier opened #26 "How to use your module with Typescript"
Hello,

I would like to use your module with typescript but I can't find any typings.
Are you going to create the typings file ?

Best Regards
Frédéric

[2018-04-26 20:47] zachgibson commented on #26
👋 Hello @F-Tillier. No TypeScript yet, but I’m interested to check it out. When I get a chance I’ll look at this. I’ll keep this issue open for now.

[2018-04-26 20:48] #20 closed

[2018-04-26 20:50] zachgibson commented on #24
If you can, please create an [expo snack](https://snack.expo.io/) with your code so I can see what’s going on.

[2018-04-26 20:51] #23 closed

[2018-04-26 20:51] #22 closed

[2018-04-27 08:14] F-Tillier commented on #26
Hi Zachary,

Thank's for you answer ...
For the moment, I have "rewrite" your 2 javascript file in typescript ...
You will find them in attachment ... it could be useful for you ;-)

Best Regards
Frédéric

2018-04-26 22:47 GMT+02:00 Zachary Gibson <notifications@github.com>:

--
Cordialement - Best regards

Frédéric Tillier

[2018-04-28 23:52] jruddell commented on #26
@F-Tillier I am using typescript with this currently.. you dont need to have typings to use it. just declare it as a module in typescript `declare module 'react-native-parallax-swiper';` then just like normal in a view you can just `import { ParallaxSwiper, ParallaxSwiperPage } from 'react-native-parallax-swiper'` you wont have all of the nice typescript features (like intellisense) but still does

[2018-04-30 06:11] F-Tillier commented on #26
Hi @jruddell, thank's a lot for the information, it will be very useful for me for future module without typings.

[2018-05-23 04:18] zxccvvv opened #27 "There's some props to add a pagination for UX like dots pagination or bar pagination?"

[2018-05-23 15:29] zachgibson commented on #27
There’s nothing by default. You can easily do this yourself with what this component exposes. But this might be a good idea to do in the future.

[2018-05-24 11:44] flixyudh commented on #27
Actually, I'm not good enough with `React Native (Javascript)`,
Mind if you add this feature on the next update?
Just to let user know how much images available to swipe

[2018-06-03 22:41] zachgibson commented on #24
@mrishan1993 Since I can’t reproduce, I can’t help. Closing this.

[2018-06-03 22:41] #24 closed

[2018-06-26 08:12] bobmulder commented on #6
Is there an update on this? I am still facing this 'issue'. When I swipe too fast (or too quick) the animation is 'skipped'. This is just not acceptable for production apps. If you prefer I can drop a video!

[2018-06-27 17:02] zachgibson commented on #6
@bobmulder I don’t have any time currently to look at this. PRs are welcome though! Look into Animated’s [add](https://facebook.github.io/react-native/docs/animated#add) method. The problem is Android ViewPager resets the scroll offset to 0 at every new page.

[2018-06-27 17:04] zachgibson commented on #6
I think we could use `Animated.add` to calculate the new Animated.Value at every new page using index * (pageWidth + dividerWidth). This will only work for horizontal swipers.

[2018-06-29 07:09] bobmulder commented on #6
Thank you for reopening Zach! I really see the value of this library, but for professional use this is a too big issue ;)

About your suggestion, can you open a PR to see if this is working? I honestly don't have an idea to fix this... I can hang on later.

[2018-08-27 13:17] ShaileshPrajapati-BTC opened #29 "With more then 100 image in background it taking too much time to load even some images are not showing."

[2018-08-28 19:33] Jmeza081 opened #30 "Question: Plans to Add Rest of Scroll View Props?"
Thanks again for the awesome library! I was looking into a (bug, but not really) yesterday in which embedding a set of `TextInput`s in a `ParallaxSwiperPage` would cause some semi-unexpected behavior on Android:

- If one `TextInput` is focused and the keyboard is open, switching to another `TextInput` on the same page closes the keyboard and you are forced to tap it again to focus the input.

Add

[2018-08-28 20:54] zachgibson commented on #30
Hey @Jmeza081! Yeah I’m wondering if simply spreading props would work well. I believe so. Totally open to PRs too. 😉

[2018-08-28 21:06] zachgibson commented on #29
@ShaileshPrajapati-BTC Yes this is expected. We need to use `FlatList` to improve perf on larger lists. See [the FlatList item is unchecked](https://github.com/zachgibson/react-native-parallax-swiper#todo) in TODO list. I will hopefully be working on this soon.

[2018-08-28 21:06] #29 closed

[2018-08-28 21:07] zachgibson commented on #6
De-prioritizing this for now.

[2018-08-28 21:07] #6 closed

[2018-08-28 21:09] zachgibson commented on #27
@zxccvvv I will play around with this idea. I’m not sure if it fits with the pattern I’m following with this UI—usually you don’t see paginated dots but it might work.

[2018-08-28 21:09] #27 closed

[2018-08-28 21:10] zachgibson commented on #26
I’m thinking I will write a TS version of this lib FYI.

[2018-08-28 21:10] #26 closed

[2018-08-28 21:21] Jmeza081 commented on #30
Gotcha! Just out of curiosity, what is the reasoning behind not adding `{...this.props}` to the `ScrollView` to allow the rest of the supplied props to pass through your component? Will it mess with props your Swiper is handling internally? If it will, a simple PR for `keyboardShouldPersistTaps` will have to suffice when I get around to it.

[2018-08-29 07:53] bobmulder commented on #6
I've dived into this issue but can't fix it. While the animation is still buggy on Android this library is useless to me for production-ready apps.

[2018-09-01 19:38] gds3k3 opened #31 "Screen orientation half swipe"
Hello, great component! Many thanks!

I have a little problem when screen orientation changes. Swipe page appears half swiped.
This happens when screen orientation changes and the current swipe page is some of middle pages, first and last pages shows correctly.

I changed pages order, to test whether the problem is on some particular content, but same result.

Thanks again.

[2018-11-01 13:07] umerbaig commented on #31
same issue happing with me

[2018-11-01 16:14] zachgibson commented on #31
Hey @gds3k3 and @umerbaig 👋

I haven’t done any work to support landscape orientation so I’m not surprised to hear this. The widths are set initially so the ScrollView knows when to snap, e.g. every 300px, this feature enables the divider views. So the width would need to update on orientation change.

[2018-11-07 13:47] YashGadle commented on #12
I tried your component to display images from my gallery. So I rendered around 100 images but it started to lag. Maybe use Animated Flatlist instead of Animated.ScrollView?

[2018-11-14 17:12] zachgibson commented on #12
Yeah, this is definitely the plan moving forward. I won’t be able to get to it immediately but PRs are definitely welcome. 🙌

[2018-12-17 17:28] zachgibson commented on #30
@Jmeza081 I briefly tried this but it broke something else. This is definitely on my list to work on soon.

[2018-12-17 17:30] zachgibson opened #32 "Support all Screen Orientations"
This component should work in both portrait and landscape orientations.

[2018-12-17 17:30] zachgibson commented on #31
Closing in favor of #32.

[2018-12-17 17:30] #31 closed

[2018-12-17 17:32] zachgibson opened #33 "Add all ScrollView/FlatList props"
This component is just a `ScrollView` so it should support most if not all `ScrollView` and `FlatList` props.

[2018-12-17 17:32] zachgibson commented on #30
Closing in favor of #33.

[2018-12-17 17:32] #30 closed

[2018-12-28 21:55] mikeyamato opened #34 "onMomentumScrollEnd (activePageIndex) Not Sending Correct Index on iOS"
Similar to [issue #5 ](https://github.com/zachgibson/react-native-parallax-swiper/issues/5), my `activePageIndex` is not propagating with the proper index. It's always an index behind. If I swipe to index 1, `activePageIndex` would state index 0. My swipe action is horizontal.

    iOS 12.1

    "react": "16.6.3",
    "react-native": "0.57.8",
    "react-native-parallax-swiper": "^1.1.7",

    sta

[2019-01-04 18:52] mikeyamato commented on #34
Okay, so I'm an idiot. I had a 2nd pair of eyes look at my code and I was making things way too complicated. After removing part of the complexity everything was functioning properly. Basically I removed `setState` and passed `activePageIndex` directly.

[2019-01-04 18:52] #34 closed

[2019-01-05 00:37] zachgibson commented on #34
Hey @mikeyamato glad you got this figured out. Sorry I was late to respond, I took off for the holidays.

[2019-02-25 04:58] Jon-Millent opened #35 "Problem with setState"
When I use setState, the index of the slider will slide to the first page. But I didn't operate this slider.
I hope to help me, thank you.

![ezgif-1-645d48249302](https://user-images.githubusercontent.com/17584565/53315109-9852fb80-38fc-11e9-95bd-895c7bdd8182.gif)

`code`

[code]

[2019-02-26 02:29] Jon-Millent commented on #35
I tried to solve this problem, I commented this line of code

`ParallaxSwiper.js` `line 27`
[code]

[2019-02-26 02:29] #35 closed

[2019-02-26 10:31] zgrybus opened #36 "ProgressBar not appearing"
I have got someting like this
`
           <ParallaxSwiper dividerWidth={0} backgroundColor={"black"} showProgressBar={true} progressBarBackgroundColor={"rgba(0,0,0,0.25)"} progressBarValueBackgroundColor={"white"}>
              ....
           </ParallaxSwiper>
`

and progressBar does not appear on the bottom of the screen :(

[2019-02-26 22:03] zachgibson commented on #36
@zgrybus If you could create a [snack](https://snack.expo.io), I can take a look at it.

[2019-03-26 19:50] pherm opened #37 "Animated Image BackgroundComponent"
Can you tell me if it possibile animate a background Image with BackgroundComponent? I try do it but i don't can work with resposive image for multiple devices

[2019-04-02 22:59] #37 closed

[2019-05-26 16:10] calacianu opened #38 "Not loading"
I try to use the carousel with react native 0.59.8, is not loading. I get the following error in debugger
`{
type: "InternalError",
errors: [ ],
message: "Metro Bundler has encountered an internal error, please check your terminal error output for more details"
}`

After I remove the carousel, it works fine. I used your example, copy/paste.

Thank you!

[2019-05-28 12:47] zachgibson commented on #38
@calacianu Just created a new React Native project @0.59.8 and copied/pasted my example code and everything works just fine. What device are you running it on?

[2019-05-28 12:48] zachgibson commented on #36
Closing this due to inactivity.

[2019-05-28 12:48] #36 closed

[2019-05-28 12:52] calacianu commented on #38
Hey! Thank you for your reply, I'll try again and see. I'm using ios simulator :)

[2019-06-07 15:21] GloboM opened #39 "auto play"
does it support auto play mode

[2019-06-17 08:53] borgogelli opened #40 "Rendering from a list of data"
When I use the map function to render the component (see the code below) I get the following error: Invariant Violation: input range must be monotonically non-decreasing
[code]

[2019-06-30 00:04] zachgibson commented on #38
@calacianu Sure thing. 🙂 Feel free to re-open this issue if you are still experiencing it.

[2019-06-30 00:04] #38 closed

[2019-06-30 00:04] zachgibson commented on #39
It does not.

[2019-06-30 00:04] #39 closed

[2019-06-30 00:06] zachgibson commented on #40
If you make an [Expo Snack](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjbt8vC9I_jAhWLZ80KHXq1B8kQFjAAegQICBAC&url=https%3A%2F%2Fsnack.expo.io%2F&usg=AOvVaw0hziD88_S_D5NjwwULsKz3) I can take a look at it.

[2019-07-20 17:00] briankostar opened #41 "Vertical and Horizontal views"
Is it possible to have both parallax swipe orientations? Ie give option to swipe left/right and top/bottom? I tried nesting the <ParallaxSwiper> component but doesn't seem to work.

[2019-07-28 14:17] zachgibson commented on #41
This is not currently a feature, however my initial thought is, it wouldn’t be that hard to implement.

[2019-10-17 08:09] keremaydin52 opened #43 "Adding 'Next' Button to Parallax Swiper Page"
I am new to React Native and sorry in advance if it's a silly question. Is it possible to add a 'Next' button that will go to next parallax swiper page?

I see a closed issue about auto play animation but I don't need animation just want to go to next page.

[2019-11-07 07:30] nickmccomb commented on #40
@borgogelli you forgot to return the <ParralaxSwiperPage items.
just put:
return <ParallaxSwiperPage key=......  />

[2019-11-07 07:31] nickmccomb commented on #40
@borgogelli you forgot to return the ParralaxSwiperPage items from the map function

[2019-12-04 07:10] nickmccomb opened #44 "Stop index changing on state change"
Is there any way to stop the swiper from scrolling back to index 0 if the object it's mapped from is updated?

I'd like to keep it on the same index because the array length isn't changing, i'm just updating properties on each item in the array.

[2019-12-04 08:33] nickmccomb commented on #44
If anyone else is having this issue just uncomment

[code]

[2019-12-11 01:15] #44 closed

[2019-12-11 09:29] #43 closed

[2019-12-18 21:47] sauravpratihar opened #45 "need onPress event props in ParallaxSwiper"

[2019-12-18 21:54] sauravpratihar commented on #45
yeah. I found it.

[2019-12-18 21:54] #45 closed

[2020-02-16 15:39] dhirajanand014 commented on #40
HI,

I am facing an issue - null is not an object (evaluating 'child.props')

 <View>
            <ParallaxSwiper
                speed={0.75}
                animatedValue={myCustomAnimatedValue}
                dividerWidth={6}
                vertical={false}
                dividerColor="black"
                onMomentumScrollEnd={activePageIndex => console.log(activePageIndex)}

[2020-02-16 15:41] dhirajanand014 commented on #40
Please remove `showProgressBar={true}`

[2021-04-18 16:32] lmallpress opened #48 "Starting the app"
Hi. I have a basic question.  What do I start the app in? I'm currently taking a React Native class and we use Expo, but the project doesn't state to use Expo. I see the "welcome to metro" logo, but I can't find a 'Metro' app to use for this project.

Thank you,
Marie

[2021-05-14 18:20] mohity777 commented on #22
Any solution ?? I am using react native flatlist and this is happening to me.

[2021-06-01 03:56] arunabhverma opened #49 "getting error when setState in onMomentumScrollEnd"
<ParallaxSwiper
      speed={0.5}
      animatedValue={myCustomAnimatedValue}
      dividerWidth={8}
      dividerColor="black"
      backgroundColor="black"
      vertical
      **_onMomentumScrollEnd={activePageIndex => setState((prev) => ({ ...prev, index: activePageIndex }))}_**
      showProgressBar={true}
      progressBarBackgroundColor="rgba(0,0,0,0.25)"
      progressBarValueBackgroundCol

[2021-06-01 03:59] arunabhverma commented on #49
without **_onMomentumScrollEnd_** or with **_onMomentumScrollEnd={activePageIndex => console.log(activePageIndex)}_**  it working fine.

[2021-06-01 04:01] arunabhverma commented on #49
but I want to setState index of page when scroll end

[2021-06-22 17:45] 11AA8R4 opened #50 "TypeError: Cannot read property 'scrollTo' of undefined in ParallaxSwiper"
Helloooo
**Issue:**
When using **ParallaxSwiper** inside a **GestureHanddler** component from react-native-gesture-handdler (softwarmansion, reanimated)
and updating any useState hook the following error occours:
**TypeError: Cannot read property 'scrollTo' of undefined**

**Soution i found:**

     How to: in windows: ctrl click in **ParallaxSwiper** on your **imports** section of your .js page

[2021-08-11 02:52] nickmccomb commented on #50
Remove this in ParallaxSwiper.js to get around this issue:

[code]

[2021-10-06 21:17] alexandrecoura96 commented on #26
Hello my friend!
Do you have any progress on TS Version?

[2021-10-20 05:46] abdullahIsa opened #51 "Random spaces"
Hello, thanks for this but sometimes when I click to show an image or video it has that space on the left side but once I swipe to the next item it becomes back to normal, thanks.

![Screenshot_2021-10-20-13-28-34-61_326bf8ed57ab92cfe14ae17e924693f2](https://user-images.githubusercontent.com/49385380/138034803-9ed5dc3d-1d9b-40e3-a2c4-362175ce25e5.jpg)

[2021-10-21 16:51] alexandrecoura96 commented on #26
@zachgibson

[2022-05-09 17:47] #41 closed

[2022-05-19 06:47] 11AA8R4 opened #52 "scrollTo prop of undefined"
ParallaxSwiper.js
line 58

from:   this.animatedScrollView._component.scrollTo({
to:        this.animatedScrollView._component?.scrollTo({

i solved the problme like this, but everytime i build the project the problem resets
what to do?